
.header{
    
    width: 100%;
    padding: 1%;
    color: $white; 
    position:fixed;
    background-color: $black !important;
    height: auto;
    z-index: 30;

    .header--nav{
        animation-name: aparecernav;
        animation-duration: 2s;
        @include flex(row, wrap);
        justify-content: flex-end;
        .header--ul{
            margin: 0;
            padding:0;
            @include flex(row, wrap);
            width: 50%;
            list-style: none;
            margin-left: 3vw;
            .header--li{
                display: inline-block;
                margin: auto;
                text-align: center;
                       
                .header--li_a{
                    z-index: 5;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    color: $white;
                    text-align: center;
                    transition: background-color 1s;
                    &:hover{
                        color: #dad8f9;
                        border-radius: 3px;
                    }
                    .header--li_p{
                        margin: auto;
                        height:auto;
                    }
                    
                }
            }
        }
    }
    
        .navbar{
             width: 100%;
             position: sticky;
             top: 0;
             z-index: 5;
             background-color: $black !important;
             
            
                  
        }
        .navbar-light{
            .navbar-brand{
               color: $white ;
               @media screen and (max-width:450px) {
                    font-size: 15px;
                }
            }
            .navbar-nav{
                .nav-link{
                    color: #ffffffaa !important;
                    &:hover{
                        color: #ffffffdd !important;
                    }
                }
             }
        }
    
    @media screen and (min-width:951px) {
       
        .navbar{
            display: none;
                
        }
    
    } 
    @media screen and (max-width:951px) {
        .header--nav{
            display: none;
        }
        .header--h2{
            display: none;
        }
        
    }

    
}
