
.index--section{
    width: 100%;
    min-height:80vh;
    padding-top: 5%;
    padding-bottom: 5%;
    border-bottom: 1px solid $black;



}

.index--home{
    @extend .index--section;
    @include flex(column,nowrap);
    justify-content: space-around;
    background-image: url(../imagenes/EscribiendoCodigo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: $black;

    .home--conteiner{
        margin: auto;
        margin-left: 7vw;
        padding:3vh;
        padding-left: 5vw;
        padding-right: 5vw;
        
        width:auto;
        background-color: #ffffffbb;
        
        border-radius: 20px;
        .home--tittle{
            font-size: 45px;
            width: 100%;
        }
        .home--p{
            font-size: 25px;
            width: 100%;
            padding-left: 2.5vw;
        }
    }
}


.index--QuienSoy{
    @extend .index--section;
    @include flex(column,nowrap);

    .home--title{

    }
}


.index--proyectos{
    @extend .index--section;
    @include flex(column,nowrap);
    
    .proyectos--h3{
        margin-left: 5vw;
        font-size: 30px;
        width:fit-content;
        min-height: 5vh;
    }
    .proyectos--p{
        margin-left: 5vw;
        font-size: 16px;
        width:fit-content;
        min-height: 5vh;
        padding: 2%
    }
    .proyectos--div_ejemplos{
        width: 90vw;
        margin:auto;
        @include flex(row,wrap);
        justify-content:flex-start;
        
        .Ejemplo{
            @include flex(column,wrap);
            margin: auto;
            align-items: center;
            width:30vw;
            min-height: 45vh;
            padding: 1vh;
            background-color: $white;
            &:hover{
                
                    opacity: 1;
                    z-index: 2;
                
            }
            
            .Ejemplo--a{
                text-decoration: none;
                color: $black;
                width: 98%;
                min-height: 43vh;
                background-color: $white;
                .Ejemplo--conteiner{
                    @include flex(column,wrap);
                    border: 1px solid $black;
                    width: 98%;
                    min-height: 43vh;
                    transition:transform .3s;
                    background-color: $white;
                    &:hover{
                        transform: scale(1.35);
                        .ejemplo--div{
                            opacity: 1;
                            z-index: 2;
                        }
                    }
                    .ejemplo--titulo{  
                        width: 100%;
                        padding: 1%;
                        text-align: center;
                        
                        height: 20%;
                    }
                    .ejemplo--div{
                        justify-content: center;
                        height:80%;
                        opacity: .5;
                        margin: auto;
                        width: 80%;
                        height: 60%;
                        overflow: hidden;
                        @include flex(column,wrap);
                        .ejemplo--imagen{
                            max-width: 100%;
                            
                            align-items: center;
                            justify-content: center;
                        }
    
                    }
                }
            }
            

        }
        @media screen and (max-width:740px){
            width: 100%;
            .Ejemplo{
                min-height: 50vh;
                width: 80%;
                opacity:1;
                .Ejemplo--a{
                    width: 98%;
                    min-height: 48vh;
                    .Ejemplo--conteiner{
                        min-height: 48vh;
                        &:hover{
                            transform: scale(1);
                            
                        }

                    }
                }

            }
            
        }


    }

}