
html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Public Sans', sans-serif;

}
$black:#12327C;
$white:#ffffff;

@mixin flex($Direc, $Wrap) {
    display: flex;
    flex-direction: $Direc;
    flex-wrap: $Wrap;
    
}
@keyframes aparecernombre {
    0%{
        position: relative;
        left: -100vw;
    }
    100%{
        position: relative;
        left: 0;
    }
    
}
@keyframes aparecernav {
    0%{
        position: relative;
        top: -20vw;
    }
    100%{
        position: relative;
        top: 0;
    }
    
}
@import "header";
@import "sections";
@import "Preguntas_Frecuentes";

