html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Public Sans', sans-serif;

}

/*$black:#000000;*/
$black:#12327C;
$white:#ffffff;

@mixin flex($Direc, $Wrap) {
    display: flex;
    flex-direction: $Direc;
    flex-wrap: $Wrap;
    
}
@import "header";
@import "sections";