html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Public Sans', sans-serif;
}

@-webkit-keyframes aparecernombre {
  0% {
    position: relative;
    left: -100vw;
  }
  100% {
    position: relative;
    left: 0;
  }
}

@keyframes aparecernombre {
  0% {
    position: relative;
    left: -100vw;
  }
  100% {
    position: relative;
    left: 0;
  }
}

@-webkit-keyframes aparecernav {
  0% {
    position: relative;
    top: -20vw;
  }
  100% {
    position: relative;
    top: 0;
  }
}

@keyframes aparecernav {
  0% {
    position: relative;
    top: -20vw;
  }
  100% {
    position: relative;
    top: 0;
  }
}

.header {
  width: 100%;
  padding: 1%;
  color: #ffffff;
  position: fixed;
  background-color: #12327C !important;
  height: auto;
  z-index: 30;
}

.header .header--nav {
  -webkit-animation-name: aparecernav;
          animation-name: aparecernav;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .header--nav .header--ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  list-style: none;
  margin-left: 3vw;
}

.header .header--nav .header--ul .header--li {
  display: inline-block;
  margin: auto;
  text-align: center;
}

.header .header--nav .header--ul .header--li .header--li_a {
  z-index: 5;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.header .header--nav .header--ul .header--li .header--li_a:hover {
  color: #dad8f9;
  border-radius: 3px;
}

.header .header--nav .header--ul .header--li .header--li_a .header--li_p {
  margin: auto;
  height: auto;
}

.header .navbar {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #12327C !important;
}

.header .navbar-light .navbar-brand {
  color: #ffffff;
}

@media screen and (max-width: 450px) {
  .header .navbar-light .navbar-brand {
    font-size: 15px;
  }
}

.header .navbar-light .navbar-nav .nav-link {
  color: #ffffffaa !important;
}

.header .navbar-light .navbar-nav .nav-link:hover {
  color: #ffffffdd !important;
}

@media screen and (min-width: 951px) {
  .header .navbar {
    display: none;
  }
}

@media screen and (max-width: 951px) {
  .header .header--nav {
    display: none;
  }
  .header .header--h2 {
    display: none;
  }
}

.index--section, .index--home, .index--QS, .index--proyectos, .preguntas-frecuentes {
  min-height: 100vh;
  padding-top: 5%;
  padding-bottom: 5%;
}

.index--home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: url(../imagenes/EscribiendoCodigo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #12327C;
}

.index--home .home--conteiner {
  margin: auto;
  margin-left: 7vw;
  padding: 3vh;
  padding-left: 5vw;
  padding-right: 5vw;
  width: auto;
  background-color: #ffffffbb;
  border-radius: 20px;
  -webkit-animation-name: aparecernombre;
          animation-name: aparecernombre;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

@media screen and (max-width: 900px) {
  .index--home .home--conteiner:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media screen and (min-width: 1200px) {
  .index--home .home--conteiner:hover {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
  }
}

.index--home .home--conteiner .home--tittle {
  font-size: 45px;
  width: 100%;
}

.index--home .home--conteiner .home--p {
  font-size: 25px;
  width: 100%;
  padding-left: 2.5vw;
}

@media screen and (max-width: 950px) {
  .index--home .home--conteiner .home--tittle {
    font-size: 35px;
  }
  .index--home .home--conteiner .home--p {
    font-size: 20px;
  }
}

@media screen and (max-width: 450px) {
  .index--home .home--conteiner .home--tittle {
    font-size: 25px;
  }
  .index--home .home--conteiner .home--p {
    font-size: 14px;
  }
}

.index--QS {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: #12327C;
}

.index--QS .QS--tittle {
  width: 100%;
  text-align: center;
  padding-bottom: 3vh;
}

.index--QS .QS--par {
  width: 90%;
  padding-bottom: 3vh;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.index--QS .QS--par .QS--par_link {
  color: #12327C;
}

.index--QS .QS--lenguajes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 3vh;
}

.index--QS .QS--lenguajes .QS--lenguajes__div {
  width: 30vw;
  height: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px;
  border: 2px solid #12327C33;
  border-radius: 5px;
}

.index--QS .QS--lenguajes .QS--lenguajes__div .QS--lenguajes__img {
  margin: auto;
  width: 20vw;
  height: 20vw;
}

.index--proyectos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.index--proyectos .proyectos--h3 {
  margin-left: 5vw;
  font-size: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-height: 5vh;
}

.index--proyectos .proyectos--p {
  margin-left: 5vw;
  font-size: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-height: 5vh;
  padding: 2%;
}

.index--proyectos .proyectos--div_ejemplos {
  width: 90vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.index--proyectos .proyectos--div_ejemplos .Ejemplo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30vw;
  min-height: 45vh;
  padding: 1vh;
  background-color: #ffffff;
}

.index--proyectos .proyectos--div_ejemplos .Ejemplo:hover {
  opacity: 1;
  z-index: 2;
}

.index--proyectos .proyectos--div_ejemplos .Ejemplo .Ejemplo--a {
  text-decoration: none;
  color: #12327C;
  width: 98%;
  min-height: 43vh;
  background-color: #ffffff;
}

.index--proyectos .proyectos--div_ejemplos .Ejemplo .Ejemplo--a .Ejemplo--conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid #12327C;
  width: 98%;
  min-height: 43vh;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  background-color: #ffffff;
}

.index--proyectos .proyectos--div_ejemplos .Ejemplo .Ejemplo--a .Ejemplo--conteiner:hover {
  -webkit-transform: scale(1.35);
          transform: scale(1.35);
}

.index--proyectos .proyectos--div_ejemplos .Ejemplo .Ejemplo--a .Ejemplo--conteiner:hover .ejemplo--div {
  opacity: 1;
  z-index: 2;
}

.index--proyectos .proyectos--div_ejemplos .Ejemplo .Ejemplo--a .Ejemplo--conteiner .ejemplo--titulo {
  width: 100%;
  padding: 1%;
  text-align: center;
  height: 20%;
}

.index--proyectos .proyectos--div_ejemplos .Ejemplo .Ejemplo--a .Ejemplo--conteiner .ejemplo--div {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80%;
  opacity: .5;
  margin: auto;
  width: 80%;
  height: 60%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.index--proyectos .proyectos--div_ejemplos .Ejemplo .Ejemplo--a .Ejemplo--conteiner .ejemplo--div .ejemplo--imagen {
  max-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 740px) {
  .index--proyectos .proyectos--div_ejemplos {
    width: 100%;
  }
  .index--proyectos .proyectos--div_ejemplos .Ejemplo {
    min-height: 50vh;
    width: 80%;
    opacity: 1;
  }
  .index--proyectos .proyectos--div_ejemplos .Ejemplo .Ejemplo--a {
    width: 98%;
    min-height: 48vh;
  }
  .index--proyectos .proyectos--div_ejemplos .Ejemplo .Ejemplo--a .Ejemplo--conteiner {
    min-height: 48vh;
  }
  .index--proyectos .proyectos--div_ejemplos .Ejemplo .Ejemplo--a .Ejemplo--conteiner:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.preguntas-frecuentes {
  background-color: #ffffff;
  color: #12327C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-top: 5%;
}

@media screen and (min-width: 950px) {
  .preguntas-frecuentes {
    opacity: .7;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
  }
  .preguntas-frecuentes:hover {
    opacity: 1;
  }
  .preguntas-frecuentes .preguntas--bloque {
    -webkit-transition: color 2s;
    transition: color 2s;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
  }
  .preguntas-frecuentes .preguntas--bloque .bloque--respuesta {
    color: #ffffff;
  }
  .preguntas-frecuentes .preguntas--bloque:hover {
    background-color: #12327C;
  }
  .preguntas-frecuentes .preguntas--bloque:hover .bloque--pregunta {
    color: #ffffff;
    font-size: 20px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1vh;
  }
  .preguntas-frecuentes .preguntas--bloque:hover .bloque--respuesta {
    font-size: 16px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1vh;
  }
}

.preguntas-frecuentes .preguntas--h3 {
  margin-left: 5vw;
  font-size: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-height: 5vh;
}

.preguntas-frecuentes .preguntas--bloque {
  margin-top: 2vh;
  margin-left: 5vw;
  width: 90%;
  border-radius: 8px;
}

@media screen and (max-width: 950px) {
  .preguntas-frecuentes .preguntas--bloque {
    border-top: 1px solid #ffffff;
    border-radius: 0;
  }
}

.preguntas-frecuentes .preguntas--bloque .bloque--pregunta {
  font-size: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1vh;
}

.preguntas-frecuentes .preguntas--bloque .bloque--respuesta {
  font-size: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1vh;
}
